<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="pandoc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="website" />
  <!-- http://stackoverflow.com/a/6204025 -->
  <meta name="description" property="og:description" content="<%= description %>" />
  <meta property="og:url" content="https://www.sbsolidarity.org/" />

  <title><%= title %></title>
  <style type="text/css">code{white-space: pre;}</style>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
<h1 id="sb-solidarity"><%= title %></h1>
<p><%- instructions %></p>
</body>
</html>
